<div class="container">
  <!-- HEADER -->
  <div class="row justify-content-md-center">
    <div class="text-center col-md-12 col-lg-8">
      <h1 class="title">{{ serie.name }}</h1>
      <!-- <div>
        <rating [(ngModel)]="rating" [max]="10" [customTemplate]="tt"></rating>
        <ng-template #tt let-i="index" let-v="value">
          <button class="btn btn-{{ i < v ? 'warning' : 'default' }}">
            {{ i < v ? "&#9733;" : "&#9734;" }}
          </button>
        </ng-template>
      </div> -->
      <br />
    </div>
  </div>

  <!-- MAIN INFO -->
  <div class="row justify-content-md-center">
    <div class="col-lg-12">
      <div class="row justify-content-center">
        <div class="col-lg-3">
          <div class="card card-stats">
            <div class="card-body">
              <div class="row">
                <div class="col-5 col-md-4">
                  <div class="icon-big text-center icon-warning">
                    <i class="tim-icons icon-caps-small text-success"> </i>
                  </div>
                </div>
                <div class="col-7 col-md-8">
                  <div class="numbers">
                    <p class="card-title">{{ serie?.language }}</p>
                    <p></p>
                    <p class="card-category">Lenguage</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card card-stats">
            <div class="card-body">
              <div class="row">
                <div class="col-5 col-md-4">
                  <div class="icon-big text-center icon-warning">
                    <i class="tim-icons icon-shape-star text-info"> </i>
                  </div>
                </div>
                <div class="col-7 col-md-8">
                  <div class="numbers">
                    <p class="card-title">{{ serie?.rating.average }}</p>
                    <p></p>
                    <p class="card-category">Rating</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card card-stats">
            <div class="card-body">
              <div class="row">
                <div class="col-5 col-md-4">
                  <div class="icon-big text-center icon-warning">
                    <i class="tim-icons icon-button-pause text-warning"> </i>
                  </div>
                </div>
                <div class="col-7 col-md-8">
                  <div class="numbers">
                    <p class="card-title">{{ serie?.status }}</p>
                    <p></p>
                    <p class="card-category">Status</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br />

  <!-- IMAGE SECTION -->
  <section>
    <img *ngFor="let image of images" [src]="image.resolutions.medium.url" />
  </section>

  <br />
  <br />

  <div class="row justify-content-md-center">
    <div class="d-flex col-md-12 col-lg-10">
      <h4 style="margin-bottom: 5px;">Genres</h4>&nbsp;&nbsp;&nbsp;
      <span
        class="badge badge-pill badge-primary"
        style="margin-right: 8px"
        *ngFor="let genre of serie?.genres"
      >
        <p style="font-size: small; margin-top: 5px; font-weight: bold">
          <b> {{ genre }} </b>
        </p>
      </span>
    </div>
  </div>

  <br/>

  <!-- SUMMARY -->
  <div class="row justify-content-md-center">
    <div class="col-md-12 col-lg-10">
      <h4 class="description"><b>Summary: </b> {{ serie?.summary }}</h4>
      <br />
    </div>
  </div>
</div>
